@import "tailwindcss";
@import "@nuxt/ui";
@import "./theme.css";

@variant dark (&:where(.dark, .dark *));

/* Custom utilities untuk agricultural theme */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
